/* line 8, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumbs {
  display: block;
  text-align: center;
  margin: 0;
}
/* line 14, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumb a {
  display: inline-block;
  margin-bottom: 30px;
  padding: 8px;
  border: 2px solid #aaa;
  position: relative;
}
/* line 20, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumb a:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background: #aaa;
  left: 50%;
  bottom: -32px;
}
/* line 31, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-spaces {
  text-align: center;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 36, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-spaces.active {
  height: auto;
  visibility: visible;
}
/* line 41, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header {
  position: relative;
  margin: 0 0 30px;
  text-align: center;
  background: #ddd;
  border-bottom: 2px solid #aaa;
  border-radius: 8px;
  padding: 8px 0;
}
/* line 49, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header button {
  position: absolute;
  border: none;
  background: none;
  line-height: 34px;
}
/* line 54, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header button:focus {
  outline: none;
}
/* line 58, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .next {
  right: 5%;
}
/* line 61, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .prev {
  left: 5%;
}
/* line 65, ../sass/oa_sitemap_app.scss */
.oa-sitemap .dropdown {
  display: inline-block;
}
/* line 68, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-title {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}
/* line 74, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sections {
  text-align: center;
}
/* line 77, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section {
  width: 110px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
/* line 84, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon {
  display: block;
  margin: 0 20px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
/* line 91, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon img {
  width: 36.66667px;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 97, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon i {
  display: block;
  position: relative;
  font-size: 32px;
  top: 50%;
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}
/* line 106, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace {
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
  width: 154px;
  height: 154px;
  margin-bottom: 10px;
}
/* line 117, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-title {
  margin: 0;
  text-align: center;
  position: relative;
  height: 100%;
}
/* line 124, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link {
  display: block;
  height: 100%;
  cursor: pointer;
}
/* line 128, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link span {
  display: block;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 136, ../sass/oa_sitemap_app.scss */
.oa-sitemap .carousel-control.left, .oa-sitemap .carousel-control.right {
  height: 50px;
  background: #888;
}
/* line 141, ../sass/oa_sitemap_app.scss */
.oa-sitemap .carousel-indicators {
  display: none;
}
