/* line 3, ../sass/oa_sitemap_app.scss */
#modalContent {
  position: fixed !important;
}

/* line 18, ../sass/oa_sitemap_app.scss */
.oa-sitemap [ng-drag].dragging {
  opacity: 0.5;
}
/* line 23, ../sass/oa_sitemap_app.scss */
.oa-sitemap [ng-drop].drag-enter {
  background: #42BB3D;
  opacity: 0.7;
}
/* line 27, ../sass/oa_sitemap_app.scss */
.oa-sitemap [ng-drop].oa-section-title.drag-enter {
  background: transparent;
  opacity: 1;
}
/* line 31, ../sass/oa_sitemap_app.scss */
.oa-sitemap [ng-drop].drag-enter .oa-section-icon {
  background: #42BB3D;
  opacity: 0.7;
}
/* line 36, ../sass/oa_sitemap_app.scss */
.oa-sitemap textarea {
  width: 100%;
  height: 124px;
}
/* line 41, ../sass/oa_sitemap_app.scss */
.oa-sitemap a, .oa-sitemap a:visited, .oa-sitemap a:active {
  color: black;
}
/* line 44, ../sass/oa_sitemap_app.scss */
.oa-sitemap a:hover {
  text-decoration: none;
  color: #008fe2;
}
/* line 49, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-header {
  margin-bottom: 5px;
}
/* line 54, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-search .active {
  background: #095a8b;
  color: white;
}
/* line 60, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-full {
  margin-top: 10px;
}
/* line 64, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumbs {
  display: block;
  text-align: center;
  margin: 0;
}
/* line 70, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumb a {
  display: inline-block;
  margin-bottom: 30px;
  padding: 8px;
  border: 2px solid #aaa;
  position: relative;
}
/* line 76, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumb a:hover {
  text-decoration: none;
  background: #ddd;
}
/* line 80, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumb a:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background: #aaa;
  left: 50%;
  bottom: -32px;
}
/* line 91, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-carousel-container {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding-bottom: 20px;
}
/* line 97, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-spaces {
  text-align: center;
  height: auto;
  overflow: visible;
}
/* line 102, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header {
  position: relative;
  margin: 0 0 30px;
  text-align: center;
  background: #ddd;
  border-bottom: 2px solid #aaa;
  border-radius: 8px;
  padding: 8px 0;
}
/* line 110, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header button {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  position: absolute;
  border: none;
  background: none;
  line-height: 34px;
  padding: 0;
}
/* line 119, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header button:hover, .oa-sitemap .oa-space-header button:focus {
  outline: none;
  color: #095a8b;
}
/* line 124, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .next {
  right: 30px;
}
/* line 126, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .next:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 8px;
  border-left: 12px solid #aaa;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* line 136, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .prev {
  left: 30px;
}
/* line 138, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .prev:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 8px;
  border-right: 12px solid #aaa;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* line 149, ../sass/oa_sitemap_app.scss */
.oa-sitemap .dropdown {
  display: inline-block;
}
/* line 152, ../sass/oa_sitemap_app.scss */
.oa-sitemap .dropdown-menu > li > a {
  padding: 0 20px;
  color: #333;
}
/* line 155, ../sass/oa_sitemap_app.scss */
.oa-sitemap .dropdown-menu > li > a:hover {
  color: white;
}
/* line 159, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-title {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}
/* line 163, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-title:hover, .oa-sitemap .oa-space-title.open:hover, .oa-sitemap .oa-space-title:active, .oa-sitemap .oa-space-title.open:active, .oa-sitemap .oa-space-title:focus, .oa-sitemap .oa-space-title.open:focus {
  text-decoration: none;
}
/* line 168, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sections {
  text-align: center;
}
/* line 171, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section {
  width: 110px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
/* line 178, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon {
  display: block;
  margin: 0 20px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
/* line 185, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon img {
  width: 36.66667px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 191, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon i {
  display: block;
  position: relative;
  font-size: 32px;
  top: 50%;
  -webkit-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -o-transform: translateY(-40%);
  transform: translateY(-40%);
}
/* line 199, ../sass/oa_sitemap_app.scss */
.oa-sitemap .newsection .oa-section-icon {
  border: 1px dashed #aaa;
  color: #3b3b3b;
}
/* line 202, ../sass/oa_sitemap_app.scss */
.oa-sitemap .newsection .oa-section-icon:hover {
  background-color: #ddd;
}
/* line 207, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace {
  position: relative;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
  width: 154px;
  height: 154px;
  margin-bottom: 10px;
}
/* line 217, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace.oa-new-space {
  border: 1px dashed #aaa;
}
/* line 219, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace.oa-new-space i {
  margin-bottom: 5px;
}
/* line 225, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-title {
  margin: 0;
  text-align: center;
  position: relative;
  height: 100%;
}
/* line 232, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link {
  display: block;
  height: 100%;
  cursor: pointer;
  background: #f7f7f7;
  font-size: 24px;
}
/* line 238, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link:hover {
  text-decoration: none;
  background: #ddd;
}
/* line 242, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link span {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 248, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link i {
  display: block;
  color: #3B3B3B;
}
/* line 253, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 22px;
  z-index: 10;
}
/* line 260, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icons a {
  color: #999;
}
/* line 262, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icons a:hover {
  color: #0071B3;
  text-decoration: none;
}
/* line 268, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-left {
  float: left;
  width: 33%;
}
/* line 272, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-center {
  float: left;
  width: 33%;
}
/* line 276, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-right {
  float: right;
  width: 33%;
}
/* line 280, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-icon-green {
  color: #42BB3D;
}
/* line 283, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-icon-red {
  color: #FB4D53;
}
