/* line 4, ../sass/oa_sitemap.scss */
.pane-oa-sitemap .oa_space_wrapper {
  overflow: hidden;
  position: relative;
}

/* line 13, ../sass/oa_sitemap.scss */
[data-state~="closed"] {
  display: none;
}

/* line 18, ../sass/oa_sitemap.scss */
[data-state~="active"] > .oa_subspace_wrapper > .oa_space_wrapper {
  display: block;
}
/* line 22, ../sass/oa_sitemap.scss */
[data-state~="active"] [data-state~="closed"] .oa_section_wrapper, [data-state~="active"] [data-state~="closed"] .oa_subspace_wrapper {
  display: none;
}
/* line 26, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_section_wrapper {
  clear: both;
}
/* line 29, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_section {
  border: 1px solid #ddd;
  width: 18%;
  margin-right: 2%;
  padding: 10px;
  margin-bottom: 10px;
  float: left;
}
/* line 37, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_section_title {
  margin: 0;
}
/* line 41, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_subspace_wrapper {
  clear: both;
}
/* line 44, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_space_wrapper {
  border: 1px solid #ddd;
  width: 18%;
  margin-right: 2%;
  padding: 10px;
  margin-bottom: 10px;
  float: left;
}
/* line 52, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_space_title {
  margin: 0;
  text-align: center;
}

/* line 59, ../sass/oa_sitemap.scss */
[data-state~="breadcrumb"] > .oa_section_wrapper {
  display: none;
}
/* line 62, ../sass/oa_sitemap.scss */
[data-state~="breadcrumb"] > .oa_space_title {
  display: block;
  text-align: center;
}
