/* line 3, ../sass/oa_sitemap.scss */
.pane-oa-sitemap {
  padding-top: 20px;
}
/* line 10, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="closed"] {
  display: none;
}
/* line 12, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="closed"] .oa_section_wrapper, .pane-oa-sitemap [data-state~="closed"] .oa_subspace_wrapper {
  display: none;
}
/* line 18, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"].active {
  border: 2px solid #bbb;
  border-radius: 10px;
}
/* line 25, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] > .oa_space_title {
  position: relative;
  margin: 0 0 30px;
  text-align: center;
  background: #ddd;
  border-bottom: 2px solid #aaa;
  border-radius: 8px;
  padding: 8px 0;
}
/* line 34, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .carousel-prev, .pane-oa-sitemap [data-state~="active"] .carousel-next {
  position: absolute;
}
/* line 38, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .carousel-prev {
  left: 5%;
}
/* line 41, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .carousel-next {
  right: 5%;
}
/* line 48, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_section_wrapper {
  text-align: center;
  clear: both;
  margin-bottom: 30px;
}
/* line 54, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_section {
  width: 110px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
/* line 60, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_section .icon-wrapper {
  display: block;
  margin: 0 20px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
/* line 68, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_section:last-child .icon-wrapper {
  border: 1px dashed #aaa;
}
/* line 71, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_section img {
  width: 36.66667px;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 77, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_section i {
  display: block;
  position: relative;
  font-size: 32px;
  top: 50%;
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}
/* line 84, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_section .oa_section_title {
  margin: 0;
}
/* line 91, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_subspace_wrapper {
  text-align: center;
  clear: both;
  margin-bottom: 15px;
}
/* line 97, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_space_wrapper {
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
  width: 154px;
  height: 154px;
  margin-bottom: 10px;
}
/* line 106, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_space_wrapper .oa_space_title, .pane-oa-sitemap [data-state~="active"] .oa_space_wrapper .oa_new_space_title {
  margin: 0;
  text-align: center;
  position: relative;
  height: 100%;
}
/* line 111, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_space_wrapper .oa_space_title a, .pane-oa-sitemap [data-state~="active"] .oa_space_wrapper .oa_new_space_title a {
  display: block;
  height: 100%;
}
/* line 115, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_space_wrapper .oa_space_title span, .pane-oa-sitemap [data-state~="active"] .oa_space_wrapper .oa_new_space_title span {
  display: block;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 124, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_space_wrapper:last-child {
  border: 1px dashed #aaa;
}
/* line 128, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_space_wrapper .oa_new_space_title span {
  top: 45%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 132, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="active"] .oa_space_wrapper .oa_new_space_title .icon-wrapper {
  display: block;
  position: relative;
  top: 30%;
}
/* line 145, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="breadcrumb"] > .oa_section_wrapper {
  display: none;
}
/* line 148, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="breadcrumb"] > .oa_space_title {
  display: block;
  text-align: center;
  margin: 0;
}
/* line 152, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="breadcrumb"] > .oa_space_title a {
  display: inline-block;
  margin-bottom: 30px;
  padding: 8px;
  border: 2px solid #aaa;
  position: relative;
}
/* line 158, ../sass/oa_sitemap.scss */
.pane-oa-sitemap [data-state~="breadcrumb"] > .oa_space_title a:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background: #aaa;
  left: 50%;
  bottom: -32px;
}
