/* line 8, ../sass/oa_sitemap.scss */
[data-state~="closed"] {
  display: none;
}
/* line 10, ../sass/oa_sitemap.scss */
[data-state~="closed"] .oa_section_wrapper, [data-state~="closed"] .oa_subspace_wrapper {
  display: none;
}

/* line 19, ../sass/oa_sitemap.scss */
[data-state~="active"] > .oa_space_title {
  position: relative;
  margin: 0;
  text-align: center;
}
/* line 24, ../sass/oa_sitemap.scss */
[data-state~="active"] .carousel-prev, [data-state~="active"] .carousel-next {
  position: absolute;
  top: 0;
}
/* line 29, ../sass/oa_sitemap.scss */
[data-state~="active"] .carousel-prev {
  left: 20%;
}
/* line 33, ../sass/oa_sitemap.scss */
[data-state~="active"] .carousel-next {
  right: 20%;
}
/* line 37, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_section_wrapper {
  clear: both;
}
/* line 41, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_section {
  width: 115px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
/* line 47, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_section .icon-wrapper {
  display: block;
  margin: 0 20px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
/* line 55, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_section:last-child .icon-wrapper {
  border: 1px dashed #aaa;
}
/* line 58, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_section i {
  display: block;
  position: relative;
  font-size: 32px;
  top: 50%;
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}
/* line 65, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_section .oa_section_title {
  margin: 0;
}
/* line 70, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_subspace_wrapper {
  clear: both;
}
/* line 74, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_space_wrapper {
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  width: 172.5px;
  height: 172.5px;
  margin-bottom: 10px;
}
/* line 82, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_space_wrapper .oa_space_title, [data-state~="active"] .oa_space_wrapper .oa_new_space_title {
  margin: 0;
  text-align: center;
  position: relative;
  height: 100%;
}
/* line 87, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_space_wrapper .oa_space_title a, [data-state~="active"] .oa_space_wrapper .oa_new_space_title a {
  display: block;
  height: 100%;
}
/* line 90, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_space_wrapper .oa_space_title a span, [data-state~="active"] .oa_space_wrapper .oa_new_space_title a span {
  display: block;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 98, ../sass/oa_sitemap.scss */
[data-state~="active"] .oa_space_wrapper .oa_new_space_title .icon-wrapper {
  float: left;
  display: block;
  position: relative;
  top: 50%;
  -moz-transform: translate(30%, -40%);
  -ms-transform: translate(30%, -40%);
  -webkit-transform: translate(30%, -40%);
  transform: translate(30%, -40%);
}

/* line 109, ../sass/oa_sitemap.scss */
[data-state~="breadcrumb"] > .oa_section_wrapper {
  display: none;
}
/* line 112, ../sass/oa_sitemap.scss */
[data-state~="breadcrumb"] > .oa_space_title {
  display: block;
  text-align: center;
}
