@import "compass";

.pane-oa-sitemap {
  $width: 110px;
  $margin: 20px;
  $vertical-gap: 30px; // vertical gaps

  padding-top: 20px;

  [data-state~="closed"] {
    display: none;
    .oa-section-wrapper, .oa-subspace-wrapper {
      display: none;
    }
  }
  .carousel-inner {
    > .new-space {
      display: none;
    }
  }
  .carousel-prev, .carousel-next {
    position: absolute;
  }
  .carousel-prev {
    left: 5%;
  }
  .carousel-next {
    right: 5%;
  }

  [data-state~="active"] {
    &.active {
      border: 2px solid #bbb;
      border-radius: 10px;
    }
    ////
    // Top Title bar/navigation
    ////
    > .oa-space-title {
      position: relative;
      margin: 0 0 $vertical-gap;
      text-align: center;
      background: #ddd;
      border-bottom: 2px solid #aaa;
      border-radius: 8px;
      padding: 8px 0;
      .oa-icon-footer {
        display: none;
      }
      .oa-space-link {
        position: relative;
        display: inline-block;
      }
    }
    .carousel-jump {
      margin: 0;
      width: 200px;
      left: 110%;
      top: 0;
      position: absolute;
      z-index: 10;
      background: white;
      border: 1px solid #ccc;
      li {
        margin: 0;
        padding: 0;
        &:hover {
          background: #ccc;
        }
      }
      .current a{
        font-weight: bold;
        text-decoration: underline;
      }
      a {
        padding: 5px 0;
        display: block;
        font-size: 14px;
        &:hover {
          text-decoration: none;
        }
      }
    }

    ////
    // Section
    ////
    .oa-section-wrapper {
      text-align: center;
      clear: both;
      margin-bottom: $vertical-gap;
    }

     .oa-section {
       width: $width;
       margin-bottom: 10px;
       display: inline-block;
       vertical-align: top;
       text-align: center;
       .oa-icon-wrapper {
          display: block;
          margin: 0 $margin;
          height: $width - $margin * 2;
          border-radius: 50%;
          margin-bottom: 10px;
          border: 1px solid #ccc;
      }
      &.new-section .oa-icon-wrapper {
       border: 1px dashed #aaa;
      }
      img {
        width: $width / 3;
        position: relative;
        top: 50%;
        @include translateY(-50%);
      }
      i {
        display: block;
        position: relative;
        font-size: 32px;
        top: 50%;
        @include translateY(-40%);
      }
      .oa-section-title {
        margin: 0;
      }
    }
    ////
    //Sub Space
    ////
    .oa-subspace-wrapper {
      text-align: center;
      clear: both;
      margin-bottom: $vertical-gap /2;
    }

    .oa-space-wrapper{
      border: 1px solid #ddd;
      display: inline-block;
      vertical-align: top;
      margin-right: $margin/2;
      margin-left: $margin/2;
      width: $width * 1.4;
      height: $width * 1.4;
      margin-bottom: 10px;
      .oa-space-title, .oa-new-space-title {
        margin: 0;
        text-align: center;
        position: relative;
        height: 100%;
      }
      .oa-space-link {
        height: 100%;
        a {
          display: block;
          height: 100%;
        }
        span {
          display: block;
          position: relative;
          top: 50%;
          @include translateY(-50%);
        }
      }
      .oa-icon-footer {
        font-size: 22px;
        bottom: 0;
        position: absolute;
        width: 100%;
        .oa-icon-left {
          width: 33%;
          float: left;
        }
        .oa-icon-middle {
          width: 33%;
          float: left;
        }
        .oa-icon-right {
          width: 33%;
          float: left;
        }
        [class^="icon-"] {
          color: #999;
        }
        [class^="icon-"]:hover {
          color: inherit;
          text-decoration: none;
        }
        .oa-icon-red {
          color: #FB4D53;
        }
        .oa-icon-green {
          color: #42BB3D;
        }
      }
      // New Space Wrapper
      &:last-child {
       border: 1px dashed #aaa;
      }
      .oa-new-space-title {
        span {
          top: 45%;
          @include translateY(-50%);
        }
        .oa-icon-wrapper {
          display: block;
          position: relative;
          top: 30%;
        }
      }
    }
  }
  ////
  // breadcrumb
  ////

  [data-state~="breadcrumb"] {
    > .oa-section-wrapper {
      display: none;
    }
    > .oa-space-title {
      display: block;
      text-align: center;
      margin: 0;
      > .oa-space-link a {
        display: inline-block;
        margin-bottom: $vertical-gap;
        padding: 8px;
        border: 2px solid #aaa;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 2px;
          height: $vertical-gap;
          background: #aaa;
          left: 50%;
          bottom: -$vertical-gap - 2;
        }
      }
      > .oa-icon-footer {
        display: none;
      }
    }
  }
}


