@import "compass";

#modalContent {
  position: fixed !important;
}

.oa-sitemap {
  $width: 110px;
  $margin: 20px;
  $vertical-gap: 30px; // vertical gaps

  [ng-drag].drag-over {
  }
  [ng-drag].drag-enter {
  }
  [ng-drop].dragging {
  }
  [ng-drag].dragging {
    opacity: 0.5;
  }
  [ng-drag].drag-enter.dragging {
  }
  [ng-drop].drag-enter {
    background: #42BB3D;
    opacity: 0.7;
  }
  [ng-drop].oa-section-title.drag-enter  {
    background: transparent;
    opacity: 1;
  }
  [ng-drop].drag-enter .oa-section-icon {
    background: #42BB3D;
    opacity: 0.7;
  }

  textarea {
    width: 100%;
    height: 124px;
  }
  .oa-section-title textarea {
    width: 100%;
    height: 60px;
  }
  .oa-section-title .oa-rename-actions {
    font-size: 14px;
  }

  a, a:visited, a:active {
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: #008fe2;
  }

  .oa-sitemap-header {
    margin-bottom: 5px;
  }

  .oa-sitemap-search {
    .active {
      background: #095a8b;
      color: white;
    }
  }

  .oa-sitemap-full {
    margin-top: 10px;
  }

  .oa-sitemap-breadcrumbs {
    display: block;
    text-align: center;
    margin: 0;
  }

  .oa-sitemap-breadcrumb a{
    display: inline-block;
    margin-bottom: $vertical-gap;
    padding: 8px;
    border: 2px solid #aaa;
    position: relative;
    &:hover {
      text-decoration: none;
      background: #ddd;
    }
    &:after {
      content: "";
      position: absolute;
      width: 2px;
      height: $vertical-gap;
      background: #aaa;
      left: 50%;
      bottom: -$vertical-gap - 2;
    }
  }

  .oa-carousel-container {
    border: 1px solid #bbb;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  .oa-spaces {
    text-align: center;
    height: auto;
    overflow: visible;
  }
  .oa-space-header {
    position: relative;
    margin: 0 0 $vertical-gap;
    text-align: center;
    background: #ddd;
    border-bottom: 2px solid #aaa;
    border-radius: 8px;
    padding: 8px 0;
    button {
      font-weight: 500;
      font-size: 18px;
      color: #333;
      position: absolute;
      border: none;
      background: none;
      line-height: 34px;
      padding: 0;
      &:hover, &:focus {
        outline: none;
        color: #095a8b;
      }
    }
    .next {
      right: 30px;
      &:after {
        content: "";
        position: absolute;
        right: -20px;
        top: 8px;
        border-left: 12px solid #aaa;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }
    }
    .prev {
      left: 30px;
      &:before {
        content: "";
        position: absolute;
        left: -20px;
        top: 8px;
        border-right: 12px solid #aaa;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }
    }
  }
  .dropdown {
    display: inline-block;
  }
  .oa-section-title.dropdown {
    display: block;
  }
  .dropdown-menu > li > a {
    padding: 0 20px;
    color: #333;
    &:hover {
      color: white;
    }
  }
  .oa-space-title {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    &:hover, &.open:hover, &:active, &.open:active, &:focus, &.open:focus {
      text-decoration: none;
    }
  }

  .oa-sections {
    text-align: center;
  }
  .oa-section {
    width: $width;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  .oa-section-icon {
    display: block;
    margin: 0 $margin;
    height: $width - $margin * 2;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    img {
      width: $width / 3;
      position: relative;
      top: 50%;
      @include translateY(-50%);
    }
    i {
      display: block;
      position: relative;
      font-size: 32px;
      top: 50%;
      @include translateY(-40%);
    }
  }
  .newsection .oa-section-icon {
    border: 1px dashed #aaa;
    color: #3b3b3b;
    &:hover {
      background-color: #ddd;
    }
  }

  .oa-subspace {
    position: relative;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: top;
    margin-right: $margin/2;
    margin-left: $margin/2;
    width: $width * 1.4;
    height: $width * 1.4;
    margin-bottom: 10px;
    &.oa-new-space {
      border: 1px dashed #aaa;
      i {
        margin-bottom: 5px;
      }
    }
  }

  .oa-subspace-title {
    margin: 0;
    text-align: center;
    position: relative;
    height: 100%;
  }

  .oa-subspace-link {
    display: block;
    height: 100%;
    cursor: pointer;
    background: #f7f7f7;
    font-size: 24px;
    &:hover {
      text-decoration: none;
      background: #ddd;
    }
    span {
      display: block;
      position: relative;
      top: 50%;
      @include translateY(-50%);
    }
    i {
      display: block;
      color: #3B3B3B;
    }
  }
  .oa-subspace-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 22px;
    z-index: 10;
    a {
      color: #999;
      &:hover {
        color: #0071B3;
        text-decoration: none;
      }
    }
  }
  .oa-subspace-icon-left {
    float: left;
    width: 33%;
  }
  .oa-subspace-icon-center {
    float: left;
    width: 33%;
  }
  .oa-subspace-icon-right {
    float: right;
    width: 33%;
  }
  .oa-icon-green {
    color: #42BB3D;
  }
  .oa-icon-red {
    color: #FB4D53;
  }
  .oa-border-green {
    border-color: #42BB3D;
  }
  .oa-border-red {
    border-color: #FB4D53;
  }


}
